@model IEnumerable<JavaJournal.Models.BeanPreset>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PresetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roastery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Origin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeanType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PresetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roastery)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Origin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeanType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grind)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BeanPresetId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BeanPresetId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BeanPresetId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
